language: scala
scala:
  - "2.11.6"

jdk: oraclejdk7

services:
  - mongodb

before_script:
  - sleep 15

notifications:
  slack: mmisw:yEUK01ro6HVvhRbkq9a2Y3df

script: "sbt clean coverage test"
after_success: "sbt coverageReport coveralls"
